@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: hsl(210, 60%, 98%);
}

a{
    text-decoration: none;
}

h1{
    font-size: 25px;
    color: hsl(224, 21%, 14%);
}

ul{
    list-style: none;
}

.heading span{
    color: hsl(0, 0%, 100%);
    margin-left: 10px;
    background-color: hsl(224, 21%, 14%);
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

.container{
    width: 700px;
    margin: 5% auto;
    display: block;
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.wrapper{
    position: relative;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content{
    margin-top: 40px;
}

.notification{
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
}

.read{
    background-color: hsl(210, 60%, 98%);
}

.heading h3 a{
    font-weight: 200;
    font-size: 15px;
    color: hsl(219, 14%, 63%);
}

.heading h3 a:hover{
    color: hsl(224, 21%, 14%);
}

.flex{
    display: flex;
    
    align-items: center;
}

.notification img{
    width: 50px;
    margin-right: 15px;
    margin-left: 0px;
}

.notification small{
    display: block;
    margin-top: 6px;
}

.notification h5{
    color: hsl(224, 21%, 14%);
    font-size: 16px;
}

.notification h5:hover{
    cursor: pointer;
    
    color: hsl(240, 96%, 29%);
}

.notification span{
    color: hsl(219, 14%, 63%);
    font-weight: 100;
}

.notification a{
    color: hsl(219, 14%, 63%);
    font-weight: bold;
}

.notification a:hover{
    color: hsl(224, 21%, 14%);
}

.notification small{
    color: hsl(219, 14%, 63%);
    font-weight: 200;
}
.notification ul li p{
    display: block;
}

.notification p{
    width: 90%;
    margin-left: 10%;
    margin-top: 10px;
    padding: 20px;
    color: hsl(219, 14%, 63%);
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 10px;
}

.notification p:hover{
    border: 1px solid hsl(210, 60%, 98%);
    background-color:  hsl(210, 60%, 98%);
    cursor: pointer;
}

.past2, .past3, .past4{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.past3{
    margin-top: 30px;
}

.past2-img:hover{
    cursor: pointer;
}

footer{
    position: absolute;
    left: 35%;
    bottom: -60px;
    font-size: 15px;
    color: hsl(219, 14%, 63%);
}

footer p span{
    text-transform: uppercase;
    font-weight: bold;
    color: hsl(224, 21%, 14%);
    font-style: italic;
}

@media (max-width: 768px) {
    .container{
        width: 600px; 
    } 
    footer{
        position: absolute;
        left: 20%;
        bottom: -60px;
        font-size: 15px;
    }
}

@media (max-width: 612px) {
    .container{
        width: 550px;  
    } 
}

@media (max-width: 565px) {
    .container{
        width: 450px;  
    } 
    footer{
        position: absolute;
        left: 20%;
        bottom: -60px;
        font-size: 12px;
    }
}

@media (max-width: 468px) {
    .container{
        width: 420px;  
    } 
    footer{
        position: absolute;
        left: 18%;
        bottom: -60px;
        font-size: 12px;
    }
}
@media (max-width: 375px) {
    .container{
        width: 400px;  
    } 
    footer{
     
        font-size: 10px;
    }
}
